body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(167, 189, 230);
    color: black;
    padding: 20px;
    margin: 0;
}
h1{
    text-align: center;
    color: black;
}
form{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb;
}
form fieldset{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;

}
form label{
    display: block;
    margin-bottom: 5px;
    color: black;
}
form legend{
    padding: 0 10px;
    font-weight: bold;
    color: black;
}
form input[type= "text"],
form input[type= "email"],
form input[type= "password"],
form input[type= "number"],
form input[type= "date"],
form input[type= "url"],
form select,
form textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}
form input[type= "radio"],
form input[type= "checkbox"]{
    margin-right: 10px;
}
form button{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}
form button:hover{
    background-color: rgb(255, 0, 0);
}



